:root{
    --siteColor: #F5A623;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.headline {
    color: var(--siteColor);
    font-weight: bolder;
   
}

article {
    padding: 20px;
    margin: 10px;
    font-size: large;
}

.blue-text {
    color: blue;
}

.video {
    text-align: center;
    padding: 10px;
    margin: 20px;
}

.modal-content {
    background: black;
    color: var(--siteColor) !important;
}

.modal-title {
    text-decoration: underline;
    font-weight: bolder;
    color:  var(--siteColor);
}
body {
    font-family: sans-serif;
    background-color: black;
}

#firstProduct {
    background-image: url(https://m.media-amazon.com/images/I/71tPGQ7VHYS._AC_SL1500_.jpg);
    background-size: 35%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    font-size: 14px;    
}

#goldenBtn {
    position: relative;
    left: 45%;
}

#goldenBtn:hover {
    transform: scale(1.2);

}


.navbar-toggler-icon {
    background-color: var(--siteColor)
}

.navbar a {
    color: var(--siteColor) !important;
        
}

.navbar a:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px var(--siteColor);
}

.navbar {
    padding: 10px;
}

.navbar-brand {
    font-size: x-large;

}

.navbar li {
    padding: 2px;
    font-size: x-large !important;
   /* border: solid 1px var(--siteColor);*/
    padding: 5px;
    margin: 10px;
    
}

.jumbotron {
    text-align: center;
    background-color:black;
    color: white;  
    background-image: url(../images/herogrid.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    box-shadow: inset 0 0em 1em var(--siteColor);
    height: 400px;
    width: auto;
}

.text-center, .cardContainer, h2 {
    color: var(--siteColor)
}

.cardContainer,h2 {
    text-align: center;
    padding: 10px;
    margin: 20px;
}

.card-title {
    font-weight: bolder;
    text-decoration: underline ;
}

.card-img-top {
    width: 100% !important;
    height: auto !important;
}

.order {
    background-color: var(--siteColor);
    border-radius: 25px;
}

 .order:hover {
     transform: scale(1.2);
     box-shadow: 0 0 10px var(--siteColor);
 }


hr {
    border-color: var(--siteColor) !important;
}
.cta {
    text-align: center;
}

.cardContainer-fluid {
    padding: 5px;
    margin-bottom: 40px;
    
}

.cardContainer-fluid:hover {
   box-shadow: inset 0 0em 1em var(--siteColor);
}


.card {
    color: black;
    text-align: center;
    margin: 10px;
    padding: 20px;
    
}

.card-img-top {
    height: 200px;
    /* set the fixed height */
    object-fit: cover;
    /* scale the image to cover the entire container */
}



@media screen and (min-width: 1024px) {
    .logo {
        position: relative;
        margin: auto;
        top: 0%;
        margin-top: 0px;
    }
    
    .logo img {
        height: 100px;
        width: auto;
    }

}


@media screen and (max-width: 499px) {
     .compname {
        display: none;
    }
    .logo img {
        height: 50px;
        width: auto;
    }

    .navbar li {
        border-bottom: 1px solid var(--siteColor);
    }

    h1 {
        font-size: xx-large !important;
    }

}
