:root{
    --siteColor: #F5A623;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: black;
}

.navbar-toggler-icon {
    background-color: var(--siteColor)
}

.navbar a {
    color: var(--siteColor) !important;
    
}

.navbar {
    padding: 10px;
}

.navbar-brand {
    font-size: x-large;

}

.navbar li {
    padding: 2px;
    font-size: x-large !important;
   /* border: solid 1px var(--siteColor);*/
    padding: 5px;
    margin: 10px;
    
}

.jumbotron {
    text-align: center;
    background-color:black;
    color: white;  
    background-image: url(../images/herogrid.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
}

.text-center {
    color: white;
}


hr {
    border-color: var(--siteColor) !important;
}
.cta {
    text-align: center;
}


@media screen and (min-width: 1024px) {
    .logo {
        position: relative;
        left: 40%;
        top: 0%;
        margin-top: 0px;
    }

    .logo img {
        height: 100px;
        width: auto;
    }

}


@media screen and (max-width: 499px) {
     .compname {
        display: none;
    }
    .logo img {
        height: 50px;
        width: auto;
    }

    .navbar li {
        border-bottom: 1px solid var(--siteColor);
    }

}
